---
interface Props {
  title: string;
  description: string;
  image?: string;
  canonicalURL?: string;
}

const { 
  title, 
  description, 
  image = 'https://raw.githubusercontent.com/IkedaDev/anami-masoterapia-old/refs/heads/main/src/assets/images/p2-s2-1.jpeg', // Asegúrate de tener una imagen por defecto en /public
  canonicalURL = Astro.url.href,
} = Astro.props;

const siteName = "Anami Masoterapia";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title} | {siteName}</title>
<meta name="title" content={`${title} | ${siteName}`} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Carga de fuentes optimizada (Outfit) -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Outfit+Display:wght@400;700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;500&family=Outfit+Display:wght@400;700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&family=Outfit:wght@300;400;500&display=swap"
  rel="stylesheet"
/>


<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "MassageBusiness",
    "name": "Anami Masoterapia",
    "image": "https://temucomasajes.cl/logo.png",
    "@id": "https://temucomasajes.cl",
    "url": "https://temucomasajes.cl",
    "telephone": "+56963564897",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Newuen Antu 962",
      "addressLocality": "Temuco",
      "addressRegion": "Araucanía",
      "addressCountry": "CL"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": -38.7397,
      "longitude": -72.5901
    },
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday","Saturday","Sunday"],
        "opens": "09:00",
        "closes": "23:00"
      }
    ]
  }
</script>